    <div class="jumbotron text-center">
        <img src="../public/assets/images/burgerpic2.jpg" alt="burger" />
        <h1>Burger Tracker</h1>
	    <p class="description">(Keep track of all the different types of burgers you've tried)</p>
	    <p class="instructions">Use the button below to create a burger you haven't tried, mark it off to save it as eaten.</p>
        <br>
            <form class="create-form">
                <div class="form">
                    <label for="newburger">Enter Burger Name</label>
                    <input type="text" id="newburger" name="burger">
                    <button type="submit-btn" id="addburger">
                        Create Burger!
                    </button>
                </div>
            </form>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Burgers Not Yet Tried</strong>
                    <p>Use the "Create Burger" button to add to this list.</p>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span>{{this.burger_name}} -</span>
                        <button type="button" class="eatburger btn btn-light" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}">Eat Me!</button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Burgers Eaten</strong>
                    <p>You can delete a burger if you accidentally marked it as eaten.</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span>{{this.burger_name}} -</span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}">DELETE</button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>
    </div>
    </div>